
/* #foto_CV {
            
}
*/
h1 {
    color: darkslategrey ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px ;
}

h3 {
    color:rgb(3, 3, 29)
}

<background