/* ---------------------------------------PAGE NOVEDADES ------------------------------------  */

.novedades {
    margin-left: 15px;
    background-color: darksalmon;
    padding: 5px 2px 10px 5px;
    color: white;
    border-radius: 10px;
    margin-bottom: 5px;
    border: 2px solid rgb(255, 25, 117);
    width: 85%;
}

.novedades h3,
h4 {
    letter-spacing: 5px;
    color: black;
    margin-left: 10px;
}

.novedades h3 {
    font-size: 26px;
}

.novedades p {
    background: rgba(255, 90, 123, 0.501);
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    letter-spacing: 3px;
}